<mat-sidenav-container class="example-container h-full w-full">
    <mat-sidenav mode="over" #sidenav [fixedInViewport]="false" style="width: auto;">
        <div class="flex flex-col items-stretch justify-center gap-1 p-4">
            @for (item of items; track $index) {
            <div [matTooltip]="item.tip">
                <button mat-flat-button class="w-full" [routerLink]="item.route" (click)="sidenav.close()">
                    <mat-icon class="symbols">{{item.icon||"function"}}</mat-icon>
                    <span>{{item.name}}</span>
                </button>
            </div>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="relative h-full w-full">
        <!-- <button mat-flat-button (click)="sidenav.toggle()" class="absolute top-0 left-0"> -->
        <mat-icon (click)="sidenav.toggle()" class="absolute top-0 left-0 z-1000">{{sidenav.opened?
            "chevron_left":"chevron_right"}}</mat-icon>
        <!-- </button> -->
        <ng-content class="h-full w-full" />
    </mat-sidenav-content>
</mat-sidenav-container>