# If a value is not present when reading with the Config class, it will be
# automatically set to it's default value.
# Config file class: /backend/src/main/java/optim/optim/src/Config.java

#==#==##==#==##==#==##==#==##==#==#
#==#==# Section: Debugging  #==#==#
#==#==##==#==##==#==##==#==##==#==#

# If debug messages should be printed.
# Default: false
debugger.enabled=false

#==#==##==#==##==#==##==#==##==#==#
#==#==# Section: Unit tests #==#==#
#==#==##==#==##==#==##==#==##==#==#

# If the tests should be performed at all.
# Default: true
unittests.simplex.enabled=true

# If the tests should stop if not all tests have an expected output.
# Default: false
unittests.simplex.continue_without_output=false

# Path to the folder containing the simplex unit tests files.
# Default: /tests/unitTests/
unittests.simplex.tests_folder=/tests/unitTests/

# Path to the folder containing the simplex relaxed unit tests files.
# Default: /tests/relaxUnitTests/
unittests.simplex.relax_tests_folder=/tests/relaxUnitTests/

# Name of the file containing a list for file name to test. The files will be
# searched in the unittests.simplex.tests_folder folder.
# You can start a line of this file with an "#" to skip this test.
# Default: toRun
unittests.simplex.tests_torun=toRun

#==#==##==#==##==#==##==#==##==#==#
#==#==#  Section: Simplex   #==#==#
#==#==##==#==##==#==##==#==##==#==#

# The maximum number of coefficients accepted. This is mainly a performance and memory issue.
# Default: 50
simplex.max_coefficients=50

# The maximum number of constraints accepted. This is mainly a performance and memory issue.
# Default: 50
simplex.max_constraints=50
